<div class="grid">
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Histórico de vendas</h5>
            <p-table [value]="products" [paginator]="false" [rows]="4" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date">Data<p-sortIcon field="date"></p-sortIcon></th>
                        <th pSortableColumn="time">Horário <p-sortIcon field="time"></p-sortIcon></th>
                        <th pSortableColumn="name">Produto<p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="client">Cliente <p-sortIcon field="client"></p-sortIcon></th>
                        <th pSortableColumn="seller">Vendedor <p-sortIcon field="seller"></p-sortIcon></th>
                        <th pSortableColumn="observation">Observação <p-sortIcon field="observation"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="width: 15%; min-width: 7rem;">{{product.date | date: 'dd/MM/yyyy'}}</td>
                        <td style="width: 15%; min-width: 7rem;">{{product.date | date: 'hh:mm'}}</td>
                        <td style="width: 15%; min-width: 7rem;">{{product.name}}</td>
                        <td style="width: 15%; min-width: 7rem;">{{product.client}}</td>
                        <td style="width: 17%; min-width: 7rem;">{{product.seller}}</td>
                        <td style="width: 20%; min-width: 8rem;">{{product.observation || "-"}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card flex flex-column align-items-center">
            <h5 class="text-left w-full">Vendas por categorias</h5>
            <p-chart type="doughnut" [data]="pieData" [options]="pieOptions"></p-chart>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5>Produtos mais vendidos</h5>
            <p-chart height="300" type="bar" [data]="barData" [options]="barOptions"></p-chart>
        </div>
    </div>
</div>